.error_container {
  background: var(--accent);
  padding: 0 2rem;
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_message {
  color: var(--color-warning);
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 25px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .error_message {
    color: var(--color-warning);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
  }
}
