.error_container {
  background: var(--accent-color);
  padding: 0 2rem;
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_code {
  color: var(--color-text-light);
  font-size: 95px;
  font-weight: 700;
  padding-bottom: 25px;
  text-align: center;
}

.error_message {
  color: var(--color-text-dark);
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 1px;
  text-align: center;
}

.mesage_goback {
  padding-top: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.mesage_goback:hover {
  color: #293da1;
}

@media screen and (max-width: 500px) {
  .error_message {
    color: var(--color-text-dark);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    text-align: center;
  }
}
