/* Leaderboard container */
.lb_Container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1px;
}

/* Leaderboard heading */
.lb_Heading {
  font-size: 36px;
  background-color: var(--color-dark);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  padding: 25px;
}

/* Leaderboard table */
.lb_Table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

/* Leaderboard table header */
.lb_Table th {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  background-color: var(--color-dark);
  color: #ffff;
  border-bottom: 1px solid #ddd;
}

/* Leaderboard table rows */
.lb_Table tr {
  background-color: #0a0a0b;
}

/* Leaderboard table cells */
.lb_Table td {
  font-size: 18px;
  text-align: center;
  color: #ffff;
  padding: 2px;
  border-bottom: 1px solid var(--color-light-dark);;
}

/* Leaderboard table alternating rows */
.lb_Table tr:nth-child(even) {
  background-color: var(--color-dark);
}
