.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  width: 20rem;
}

.button {
  padding: 0.5rem;
  background-color: #0070f3;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #ffff;
}

@media screen and (max-width: 600px) {
  .input {
    width: 10rem;
  }

  .button {
    border-radius: 0.20rem;
  }
}
