.footer_container {
  padding-top: 40px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid var(--accent);
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.copyright {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}
