.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid linear-gradient(to right, var(--color-text), var(--main-color), var(--color-text));
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  padding-left: 5px;
  filter: invert(1);
}
